<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeedev.msdp.sys.menu.dao.ISysResMenuDao">
	<resultMap id="sysResMenuMap" type="java.util.Map" >
		<result column="ID" property="id" javaType="java.lang.Integer" />
		<result column="MENU_CODE" property="menuCode" javaType="java.lang.String" />
		<result column="MENU_NAME" property="menuName" javaType="java.lang.String" />
		<result column="PARENT_MENU_CODE" property="parentMenuCode"
			javaType="java.lang.String" />
		<result column="URL" property="url" javaType="java.lang.String" />
		<result column="SORT" property="sort" javaType="java.lang.Integer" />
		<result column="LEAF_FLAG_CD" property="leafFlagCd" javaType="java.lang.String" />
		<result column="ICON" property="icon" javaType="java.lang.String" />
		<result column="MENU_TYPE_CD" property="menuTypeCd" javaType="java.lang.String" />
		<result column="CLNTEND_ID" property="clntendId" javaType="java.lang.String" />
		<result column="STATUS_CD" property="statusCd" javaType="java.lang.String" />
		<result column="REMARK" property="remark" javaType="java.lang.String" />
		<result column="CREATE_TIME" property="createTime" javaType="java.util.Date" />
		<result column="CREATE_USER" property="createUser" javaType="java.lang.String" />
		<result column="UPDATE_TIME" property="updateTime" javaType="java.util.Date" />
		<result column="UPDATE_USER" property="updateUser" javaType="java.lang.String" />
		<result column="EXPD_ID" property="expdId" javaType="java.lang.String" />
		<result column="DEL_IND" property="delInd" javaType="java.lang.String" />
		<result column="VERSION" property="version" javaType="java.lang.Integer" />
	</resultMap>

	<sql id="column_list">
		ID, MENU_CODE, MENU_NAME, PARENT_MENU_CODE, URL, SORT, LEAF_FLAG_CD,
		ICON, MENU_TYPE_CD, CLNTEND_ID, STATUS_CD, REMARK, CREATE_TIME,
		CREATE_USER, UPDATE_TIME, UPDATE_USER, EXPD_ID, DEL_IND, VERSION
	</sql>

	<sql id="where_filters">
		<where>
			<if test="id!=null and id!=''">
				AND ID = #{id}
			</if>
			<if test="menuCode!=null and menuCode!=''">
				AND MENU_CODE = #{menuCode}
			</if>
			<if test="menuCodes != null and menuCodes.size() > 0">
				AND MENU_CODE IN
				<foreach collection="menuCodes" item="menuCode" index="index" open="(" close=")" separator=",">
					#{menuCode}
				</foreach>
			</if>
			<if test="menuName!=null and menuName!=''">
				AND MENU_NAME = #{menuName}
			</if>
			<if test="parentMenuCode!=null and parentMenuCode!=''">
				AND PARENT_MENU_CODE = #{parentMenuCode}
			</if>
			<if test="leafFlagCd!=null and leafFlagCd!=''">
				AND LEAF_FLAG_CD = #{leafFlagCd}
			</if>
			<if test="menuTypeCd!=null and menuTypeCd!=''">
				AND MENU_TYPE_CD = #{menuTypeCd}
			</if>
			<if test="clntendId!=null and clntendId!=''">
				AND CLNTEND_ID = #{clntendId}
			</if>
			<if test="statusCd!=null and statusCd!=''">
				AND STATUS_CD = #{statusCd}
			</if>
			<if test="delInd!=null and delInd!=''">
				AND DEL_IND = #{delInd}
			</if>
			<if test="version!=null and version!=''">
				AND VERSION = #{version}
			</if>
		</where>
	</sql>

	<!--根据条件查询列表 -->
	<select id="findMenuList" parameterType="map" resultMap="sysResMenuMap">
		SELECT
		<include refid="column_list" />
		FROM SYS_RES_MENU
		<include refid="where_filters" />
		ORDER BY SORT ASC
	</select>
</mapper>
