<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeedev.msdp.sys.user.dao.ISysUserPermissionRelDao">
	<resultMap  id="sysUserPermissionRelMap" type="java.util.Map" >
		<result column="ID" property="id" javaType="java.lang.Integer" />
		<result column="PERMISSION_CODE" property="permissionCode" javaType="java.lang.String" />
		<result column="USER_NUM" property="userNum" javaType="java.lang.String" />
		<result column="CREATE_TIME" property="createTime" javaType="java.util.Date" />
		<result column="CREATE_USER" property="createUser" javaType="java.lang.String" />
		<result column="UPDATE_TIME" property="updateTime" javaType="java.util.Date" />
		<result column="UPDATE_USER" property="updateUser" javaType="java.lang.String" />
		<result column="EXPD_ID" property="expdId" javaType="java.lang.String" />
		<result column="DEL_IND" property="delInd" javaType="java.lang.String" />
		<result column="VERSION" property="version" javaType="java.lang.Integer" />
	</resultMap>

	<sql id="column_list">
		ID, PERMISSION_CODE, USER_NUM, CREATE_TIME, CREATE_USER, UPDATE_TIME,
		UPDATE_USER, EXPD_ID, DEL_IND, VERSION
	</sql>

	<sql id="where_filters">
		<where>
			<if test="id!=null and id!=''">
				AND ID = #{id}
			</if>
			<if test="permissionCode!=null and permissionCode!=''">
				AND PERMISSION_CODE = #{permissionCode}
			</if>
			<if test="userNum!=null and userNum!=''">
				AND USER_NUM = #{userNum}
			</if>
			<if test="delInd!=null and delInd!=''">
				AND DEL_IND = #{delInd}
			</if>
			<if test="version!=null and version!=''">
				AND VERSION = #{version}
			</if>
		</where>
	</sql>

	<!--根据条件查询列表 -->
	<select id="findUserPermRelList" parameterType="map" resultMap="sysUserPermissionRelMap">
		SELECT
		<include refid="column_list" />
		FROM SYS_USER_PERMISSION_REL
		<include refid="where_filters" />
		ORDER BY ID DESC
	</select>

</mapper>
