<div ng-controller="warnCtrl">
<div  ><!-- 单笔溢拨 预警（组合账款） -->
	<div class="allcontent">
	<form class="layui-form layui-form-pane" name="form1">
			<div class="search_mian">
				<div class="layui-form-item">
				<div class="layui-inline">
						<label class="layui-form-label">合同编号</label>
						<div class="layui-input-inline">
							<input class="layui-input" type="text" ng-model="queryParam.pdNm">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">客户名称</label>
						<div class="layui-input-inline">
							<input class="layui-input" type="text" ng-model="queryParam.pdNm">
						</div>
					</div>
					
				</div>
				<div class="search_button">
					<button class="layui-btn" ng-click="search()">
						<i class="layui-icon">&#xe615;</i> 查询
					</button>
						<button class="layui-btn" ng-click="queryParam={}">
						<i class="layui-icon">&#x1002;</i> 重置
					</button>
				</div>
				</div>
			</div>
			<!--search_mian_end-->
			<div class="search_sub contract-search-wrap" class="moresearch" style="display: none">
				<div class="layui-inline">
						<label class="layui-form-label">账款编号</label>
						<div class="layui-input-inline">
							<input class="layui-input" type="text" ng-model="queryParam.pdNm">
						</div>
					</div>
					
					<div class="layui-inline">
						<label class="layui-form-label">交易对手名称</label>
						<div class="layui-input-inline" style="width: 91px;">
							<input ng-model="queryParam.loanStDate" class="layui-input"
								date="loanStDate" type="text">
						</div>
						
					</div>
			</div>
			<!--search_sub_end-->
		</form>
		<div class="button_contain">
		<button class="layui-btn layui-btn-danger" ng-click="$del($event, '/user/cst/delete?ctrId')">
				<i class="layui-icon">&#xe640;</i> 解除预警
			</button>
		</div>		
	<div jf-grid="用款申请列表" paging="true" search="search" resource="warnOrdrWarnList.list" params="queryParam">
			<div class="layui-form">
			<table>
				<thead>
					<tr>
						<th>选择</th>
						<th>合同编号</th>
						<th>产品名称</th>
						<th>交易对手名称</th>
						<th>客户名称</th>
						<th>账款编号</th>
						<th>账款起始阶段</th>
						<th>阶段对应编号</th>
						<th>订单金额</th>
						<th>订单余额</th>
						<th>收款金额</th>
						<th>收款余额</th>
						<th>开票金额</th>
						<th>应收账款余额</th>
						<th>应收账款异常金额</th>
					</tr>
				</thead>
				<tbody class="tbody">
					<tr>
						<td align="center" width="40"><a ng-click="selectItem(item.ctrId)" ><input type="radio" name="ctrId" title=" " lay-skin="primary"></a></td>
						<td align="center" ng-bind="item.ctrId"></td>
						<td align="center" ng-bind="item.pdNm"></td>
						<td align="center" ng-bind="item.cntprNm"></td>
						<td align="center" ng-bind="item.cstNm"></td>
						<td align="center" ng-bind="item.accvalId"></td>
						<td align="center" ng-bind="item.accvalBegStgCd"></td>
						<td align="center" ng-bind="item.stgCrpndId"></td>
						<td align="center" ng-bind="item.ordrAmt"></td>
						<td align="center" ng-bind="item.ordrBal"></td>
						<td align="center" ng-bind="item.rcvgAmt"></td>
						<td align="center" ng-bind="item.rcvgBal"></td>
						<td align="center" ng-bind="item.issuBillAmt"></td>
						<td align="center" ng-bind="item.rcvbBal"></td>
						<td align="center" ng-bind="item.rcvbAbnmlAmt"></td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
		
	</div>
	 
</div>
</div>
